<app-header title="Logros"></app-header>

<ion-content>
  <ion-toolbar>
    <ion-button expand="block" style="width: 60%; margin-left: 20px;">Agregar juego</ion-button>
    <ion-buttons slot="end">
        <ion-button>
            <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button>
            <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

  <app-item-archivement [usuario]="usuario" ></app-item-archivement>
</ion-content>
