<ion-list>
<ion-item lines="none" button *ngFor="let juego of usuario?.videojuegos" (click)="abrirDetalles(juego)">
  <ion-thumbnail slot="start">
    <img src="../../../assets/icon/favicon.png" alt="Minecraft Icon" />
  </ion-thumbnail>
  <ion-label>
    <h3><strong>{{juego.nombreVideojuego}}</strong></h3>
    <div style="display: flex; align-items: center;">
      <ion-icon name="flash-outline"></ion-icon>
      <p style="margin: 0 10px;">{{juego.logrosCompletados}} / {{juego.logrosTotales}}</p>
      <ion-icon name="trophy-outline"></ion-icon>
      <p>39</p>
    </div>
    <div style="width: 100%; position: relative; margin-top: 5px;">
      <div style="position: absolute; right: 0; top: -20px; font-size: 0.8em;">
        <p>
          <strong>{{ (juego.logrosCompletados / juego.logrosTotales * 100) | number: '1.0-2' }}%</strong>
        </p>
      </div>
      <ion-progress-bar value="{{ juego.logrosCompletados / juego.logrosTotales }}"></ion-progress-bar>
    </div>
  </ion-label>
</ion-item>
</ion-list>
