<ion-card>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start" style="width: 80px; height: 80px;">
      <img alt="" [src]="usuario.avatarUrl" style="width: 100%; height: 100%;" />
    </ion-avatar>
    <ion-label>
      <strong style="font-size: 25px;">{{usuario.nombreUsuario}}</strong>
      <br>
      <ion-label class="label-points">
        <ion-icon name="flash-outline"></ion-icon>
        <ion-note style="font-size: 18px;">{{usuario.points}}</ion-note>
      </ion-label>
      <ion-icon name="add-circle-outline" style="font-size: 25px;"></ion-icon>
    </ion-label>
  </ion-item>
</ion-card>
  <ion-grid>
    <strong style="font-size: 25px; margin: 0px 0px 0px 22px;">Tu biblioteca</strong>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let juego of usuario?.videojuegos">
          <ion-card>
            <img [src]="juego.imagen" alt="{{ juego.nombreVideojuego }}" />
            <ion-card-header>
              <ion-card-title>{{ juego.nombreVideojuego }}</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>