<ion-content>
  <ion-grid>
    <strong style="font-size: 25px; margin: 0px 0px 0px 22px;">Tu biblioteca</strong>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let juego of usuario?.videojuegos">
        <ion-card>
          <img [src]="juego.imagen" alt="{{ juego.nombreVideojuego }}" />
          <ion-card-header>
            <ion-card-title>{{ juego.nombreVideojuego }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>